   .row .col{
        background-color: #f2f2f2;
        margin-top: 25px;
        padding: 25px;
        max-height: 700px;
    }
    
    .row .col p{
        margin-top: 20px;
    
    }
    
    .row .col-9{
        background-color: #f2f2f2;
        margin: 25px;
        padding: 20px;
    }
    .img-author{
        margin-left: 40px;
    }
    div{
        border-radius: 5px;
    }
    .feature-post{
        color: #a6a6a6;
    }
    hr { 
        display: block;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        border-style: inset;
        border-width: 1px;
        color: black!important;
      } 
      .fa {
        padding: 20px;
        font-size: 15px;
        width: 53px;
        text-align: center;
        text-decoration: none;
        margin: 5px 2px;
      }
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      
      .fa-twitter {
        background: #55ACEE;
        color: white;
      }
      
      .fa-google {
        background: #dd4b39;
        color: white;
      }
      
      .fa-linkedin {
        background: #007bb5;
        color: white;
      }
      .fa:hover {
        opacity: 0.7;
    }